<!-- Add Tokens -->
					<thead>
						<th>Token Names</th>
						<th>Token 1</th>
						<th>Token 2</th>
						<th>Token 3</th>
						<th>Token 4</th>
						<th>Token 5</th>
					</thead>
					<tr>
						<td></td>
						<td><input class="form-control" ng-model="questionNode.Tokens.Token1.name"></td>
						<td><input class="form-control" ng-model="questionNode.Tokens.Token2.name"></td>
						<td><input class="form-control" ng-model="questionNode.Tokens.Token3.name"></td>
						<td><input class="form-control" ng-model="questionNode.Tokens.Token4.name"></td>
						<td><input class="form-control" ng-model="questionNode.Tokens.Token5.name"></td>
						<td><button class="btn btn-info" ng-click="addToken()">Add Token</button></td>
					</tr>
					<tr>
						<td></td>
						<td>{{questionNode.Tokens.Token1.name}}</td>
						<td>{{questionNode.Tokens.Token2.name}}</td>
						<td>{{questionNode.Tokens.Token3.name}}</td>
						<td>{{questionNode.Tokens.Token4.name}}</td>
						<td>{{questionNode.Tokens.Token5.name}}</td>
					</tr>